OK_CLIENT_ID=512003074440
OK_CLIENT_SECRET=
OK_ACCESS_TOKEN=
OK_PUBLIC_KEY=CJIKODMGDIHBABABA
OK_SESSION_KEY=-n-EQtysgEIQ57cICDHQvX5pxQTMD5xyo3Iu6YC9VsdH1sV0r7DsarsPV0wYK8aiyWuiY7iRK8zBucRx6wy0
OK_SESSION_SECRET_KEY=95ea7517156aecd2f21aff1f84119be9

MONGO_URI=mongodb://mongo:27017/
MONGO_DB_NAME=okdb

API_BASE_URL=https://api.ok.ru/fb.do
RATE_LIMIT_DELAY=1.0

